
#Ignoring Compiled Files
Luftschlange-ms-steiner-puw-324769b/bin/
*.out

#Ignoring Output Files
Luftschlange-ms-steiner-puw-324769b/output/
Luftschlange-ms-steiner-puw-324769b/saved/

#Ignoring IDE Files
.vscode/
./cmake-build-debug
CMakeLists.txt